body{
    background:#050914;
    color:white;
    font-family:Arial;
}

.alert-box{
    background:#250000;
    border:2px solid red;
    padding:20px;
    margin:20px;
    border-radius:15px;
    box-shadow:0 0 20px red;
    animation:alarm 2s infinite;
}

.alert-box h2{
    color:#ff3333;
}

.mag{
    background:#ff9800;
    padding:5px 12px;
    border-radius:8px;
    font-weight:bold;
}

@keyframes alarm{
    50%{
        box-shadow:0 0 35px red;
    }
}
